@page { size:21.0cm 29.7cm; margin-top: 1cm; margin-bottom: 1cm; margin-right: 1cm; margin-left: 1cm; }
@media print {
	element.style {
		font-size: 2em;
		color: #fff;
		text-transform: uppercase;
		background-color: #5e5e5e;
		border: 10px solid;
		border-color: #5e5e5e;
		padding: 0px 0px 0px 0px;
		border-radius: 10px;
	}
    p {
		page-break-inside: avoid;
		margin-bottom: 1em;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
	h4{
		font-size: 1.2em;
		margin-top: 1.2em;
		margin-bottom: 0.5em;
	}
	h5{
		margin-top: 1.2em;
		margin-bottom: 0.5em;
	}
	}
	h2{
		font-size: 1.6em;
		color: #6f9eec;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 20px;
		margin-top: 20px;
		page-break-after : avoid;
	}
	address {
		display: print;
		font-size: 1em;
		color: #333;
		font-style: italic;
		margin-bottom: 0.5em;
		margin-top: 1.5em;
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		line-height: 1.42857;
	}
	table{
		-fs-table-paginate:paginate;
		border-spacing:0
	}
	tr:nth-child(2n+1){
		background-color: #edf3fd;
	}
	tr:nth-child(even){
		background-color: #f6f9fe;
	}
	th {
		color: #fff;
		font-weight: bold;
		border: 1px solid #fff;
		padding: 0em 0.5em 0em 0.5em;
		border-spacing: 5px;
		border-collapse: collapse;
		margin: 0em 0em 0em 0em;
		text-align: left;
		vertical-align: baseline;
		font: inherit;
		font-size: 100%;
	}
	th[scope=col] {
		background-color: #6f9eec;
		color: #fff;
		font-weight: bold;
	}
	th[scope=row] {
		background-color: #6f9eec;
		color: #fff;
		font-weight: bold;
	}
	td {
		border: 1px solid #fff;
		padding: 0em 0.5em 0em 0.5em;
		border-spacing: 5px;
		margin: 0em 0em 0em 0em;
		text-align: left;
		vertical-align: baseline;
		font: inherit;
		font-size: 100%;
	}
	div.chaptertag {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: #edf3fd;
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 13px;
		padding-bottom: 13px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		border: 0;
		vertical-align: baseline;
		font: inherit;
		font-size: 100%;
		page-break-before: always;
	}
	* {
		box-sizing: border-box;
		font-family: Helvetica, Arial, sans-serif;
	}
	#content {
    display: table;
	}
}